.mainPage {
    background-image: none;
    background-color:#000;
}

.index {
    background: url('../../img/bg/mainBg.jpg') no-repeat;
    background-position: top center;
    &__section {
        background: url('../../img/bg/verticalLine.png') no-repeat center center,
                    url('../../img/bg/pattern.jpg');
        @extend %flexRowNoWrap;
        padding: 55px 80px 60px;
        margin-bottom: 35px;
        &:last-child {
            margin: 0;
        }
    }
}

.siteLogo {
    max-width: 368px;
    height: auto;
    margin: 0 auto;
    &__image {
        display: inline-block;
        width: 100%;
        height: 100%;
    }
}

.features {
    @extend %flexRowNoWrap;
    color: $colorType3;
    margin-bottom: 80px;
    &__item {
        width: 290px;
        @extend %flexColumnNoWrap;
    }
    &__name {
        position: relative;
        margin-bottom: 70px;
        &::after {
            content: '';            
            display: block;
            width: 0;
            height: 0;
            border: 10px solid $colorType3;
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%) rotate(45deg);          
        }
    }
    &__description {
        text-align: center;
    }
}

.holder {
    width: 50%;
    display: flex;
    flex-flow: row wrap;
    overflow: hidden;    
    &:first-child {
        padding-right: 34px;
    }
    &:last-child {
        padding-left: 90px;
    }
    &__title {
        margin-bottom: 30px;
    }
    &__text p {
        margin-bottom: 30px;
    }
    &__buttons {
        width: 300px;
        @extend %flexRowNoWrap;
        align-self: flex-end;    
    }
}

.newsPreview__item {
    margin-bottom: 20px;
}

.gallerySlider__photo {
    width: 300px;
    height: 178px;
    border: 7px solid white;
}

.gallerySlider__image {
    width: 100%;
    height: auto;
    display: block;
}

.gallerySliderControlls, .contentsMainPage__relations {
    width: 300px;
    @extend %flexRowNoWrap;
}

.features__name, .holder__title {
    font-size: 30px;
    line-height: 30px;
}

.formEntry {
    width: 300px;
    @extend %flexRowNoWrap;
    flex-wrap: wrap;
    &__input {
        width: 140px;
        height: 43px;
        border: 2px solid $colorType2;
        padding-left: 15px;
        margin-bottom: 20px;
        &:focus {
            border-color: $colorType4; 
        }
    }
}

@include placeholder {
    font: 14px / 24px ptSansNarrowBold;
    color: $colorType2;
    text-transform: uppercase;
}

.button_submit {
    width: 300px;
}