.priceContent {
    &__title {
        font-size: 48px;
        line-height: 72px;
        text-align: center;
        margin-bottom: 60px;
        position: relative;
        &::before, &::after {
            content: '';
            display: block;
            width: 160px;
            height: 2px;
            background-color: $colorType2;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
        &::before {
            left: 0;
        }
        &::after {
            right: 0;
        }
    }
    &__sectionContainer {
        @extend %flexRowNoWrap;
    }
    &__section {
        width: 470px;
    }
    &__sectionSubtitle {
        font-size: 24px;
        line-height: 30px;
        margin-bottom: 30px;
    }
    &__list {
        margin-bottom: 60px;
    }
    &__item {
        padding-left: 20px;
        margin-bottom: 20px;
        position: relative;
        &::before {
            @extend %itemDecor;
            left: 0;
        }
    }
}

.priceTable {
    width: 470px;
    border-collapse: collapse;
    border: 2px solid $colorType2;
    margin-bottom: 154px;
    &__row {
        height: 40px;
    }
    &__cellCol1, &__cellCol2 {
        width: 235px;
    }
    &__cellCol1 {
        padding-left: 18px;
    }
    &__cellCol2 {
        text-align: center;
    }
    & td {
        border: 2px solid $colorType2;
    }
}