.shopContent {
    @extend %flexRowAlignStart;
    &__section {
        width: 700px;
    }
}

.production {
    @extend %flexRowAlignStart;
    margin-bottom: 45px;
    &__item {
        width: 220px;
        min-height: 300px;
        @extend %boxShadow;
        margin: 0 20px 20px 0;
        transition: box-shadow .5s;
        &:hover {
            @extend %boxShadowHover;
        }
        &:nth-child(3n + 3) {
            margin-right: 0;
        }
    }
    &__image {
        display: block;
        width: 100%;
        height: auto;
    }
    &__character {
        background-color: #fff;
        padding: 15px;
    }
    &__type, &__name {
        display: block;
    }
    &__name {
        margin-bottom: 14px;
    }
}

.productionButtons {
    @extend %flexRowAlignStart;
    &__item {
        margin-right: 8px;
        &:last-child {
            margin: 0;
        }
        &_active .button_productionButtons {
            background-color: $colorType3;
            color: $colorType2;
        }
    }

}