@media screen and (max-width: 980px) {

    // Global
    $containerWidth: 728px; 

    .container {
        width: $containerWidth;
    }

    main {
        padding-top: 30px;
    }

    // Header
    .mainMenu__link, .userBlock__login {
        padding: 0 10px;
    }

    // Index
    .index {
        padding-top: 30px;
        &__section {
            padding: 40px 30px;
        }
    }

    .features {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        margin: 0;
        &__item {
            width: 320px;
            margin-bottom: 50px;
        }
    }
    
    .holder:last-child {
        padding-left: 34px;
    }

    // Price
    .priceContent__section {
        width: 364px;
    }

    .priceContent__title {
        border-bottom: 2px solid $colorType2;
        &::before, &::after {
            display: none;
        }
    }
}