@media screen and (max-width: 480px) {

    // Global
    $containerWidth: 95%;

    .container {
        width: $containerWidth;
    }

    main {
        padding-bottom: 30px;
    }

    .button {
        width: 44%;
        &_buySection {
            width: 78px;
        }
        &_productionButtons {
            width: 43px;
        }
    }

    .breadCrumbs__title {
        font-size: 28px;
        line-height: 34px;
    }

    // Header
    .userBlock__login {
        font-size: 26px;
    }

    .userBlock__loginIcon {
        padding: 0;
    }

    .userBlock__loginText {
        display: none;
    }

    // Index
    .features {
        display: none;
    }

    .holder__title {
        text-align: center;
    }

    .formEntry__input, .button_submit, .button_news {
        width: 100%;
    }

    // Price
    .priceContent__title {
        font-size: 36px;
        line-height: 44px;
    }

    // Shop
    .filter {
        margin-bottom: 20px;
        justify-content: center;
        &__itemGroup {
            width: 100%;
            margin-bottom: 20px;
        }
        &__groupName {
            margin-bottom: 6px;
        }
        &__caption {
            margin: 0 16px 0 0;
        }
        &__checkboxCustom {
            margin-right: 4px;
        }
    }

    .production__item, .production__item:nth-child(3n + 3), .production__item:nth-child(2n) {
        margin: 0 auto 20px;
    }

    .productionButtons {
        display: flex;
        justify-content: center;
    }
}