@media screen and (max-width: 768px) {

    // Global
    $containerWidth: 480px;
    $headerHeight: 42px;
    $footerHeight: 145px;

    .wrapper::after {
        height: $footerHeight;
    }
    
    .container {
        width: $containerWidth;
    }

    // Header
    .header {
        min-height: $headerHeight;
    }

    .mainMenu {
        display: none;
    }

    .dropdownMenu {
        display: block;
    }

    .userBlock__login {
        line-height: $headerHeight;
        font-size: 18px;
    }

    // Index
    .siteLogo {
        // transform: scale(.9);
    }

    .features__item {
        width: 360px;
        margin-bottom: 25px;
    }

    .features__name::after {
        border: 6px solid #fff;
        top: 40px;
    }

    .features__name {
        margin-bottom: 32px;
    }

    .content__section {
        flex-wrap: wrap;
        background: url('../../img/bg/pattern.jpg');
    }

    .holder {
        width: 100%;
        margin-bottom: 55px;
        padding: 0;
        &__buttons {
            width: 100%;
        }
        &:first-child, &:last-child {
            padding: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .gallerySlider {
        margin-bottom: 30px;
        &__photo {
            width: auto;
            height: auto;
        }
    }

    .formEntry {
        width: 100%;
    }

    .formEntry__input {
        width: 195px;
    }

    // Footer
    .footer {
        min-height: $footerHeight;
        margin-top: -$footerHeight;
    }

    .footerContent {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        padding: 10px 0;
        &__contacts {
            text-align: center;
            flex-flow: row wrap;
            justify-content: space-around;
            margin-bottom: 10px;
        }
        &__copyright {
            display: none;
        }
        &__text {
            display: none;
        }
    }
}