@font-face {
  font-family: 'ptSansNarrow';
  src: url('../../fonts/ptsansnarrow.woff2') format('woff2'),
       url('../../fonts/ptsansnarrow.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ptSansNarrowBold';
  src: url('../../fonts/ptsansnarrowbold.woff2') format('woff2'),
       url('../../fonts/ptsansnarrowbold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}