%flexRowNoWrap {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

%flexColumnNoWrap {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

%flexRowAlignStart {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

%flexRowSpaceBetween {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

%boxShadow {
    box-shadow: 0 0 15px rgba(0, 0, 0, .2);
}

%boxShadowHover {
    box-shadow: 0 0 25px 5px rgba(0, 0, 0, .2);
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &:-moz-placeholder           { @content; }
  &::-moz-placeholder          { @content; }
  &:-ms-input-placeholder      { @content; }  
}

%itemBackground {
    background: url('../../img/decor/beard.png') no-repeat left center;
    padding-left: 24px;
}